/*
====================================================================================================================================================================
                                                    Start Learn Tech Page
====================================================================================================================================================================
*/

 div.learntechnow{
   position: absolute;
   top: 250px;
   left:20px;

 }
 div.learntechpodcast{
   position: absolute;
   top: 250px;
   left:460px;
 }
 div.learntechblog{
   position: absolute;
   top: 250px;
   left:900px;
 }
/*
====================================================================================================================================================================
                                                    End Learn Tech Page
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer{
  width: 100%;
  background: red;
  height: 70px;
  position: absolute;
  top: 800px;
  left: 0;
}
p#footer{
  margin-top: 40px;
  text-align: center;
  color: white;
  font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
