/*
====================================================================================================================================================================
                                                    Start Premium Plus Page
====================================================================================================================================================================
*/
div.monthly{
  position:absolute;
  top:250px;
  left: 250px;
}
div.annual{
  position:absolute;
  top:250px;
  left: 600px;
}
div.lifetime{
  position:absolute;
  top:250px;
  left: 950px;
}

/*
====================================================================================================================================================================
                                                    End Premium Plus Page
====================================================================================================================================================================
*/




/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/
footer{
  width: 100%;
  hight:80px;
  top: 550px;
  left: 0;
  background: red;
  position: absolute;
}
p#footer{
  color: white;
  margin-top: 30px;
  text-align: center;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
